{% extends 'stats/base.html' %}
{% load django_tables2 %}

{% block title %}
NHL Stats
{% endblock %}

{% block content %}

<div class="m-3">

    <form name='submit' action="filter_submit{{request.get_full_path}}" method='POST'>
        {% csrf_token %}

        <div class="form-group">
            <h5 class="">Enter filter here</h5>
            <textarea type='text' name="filter_string" placeholder="gamesPlayed >= 20&#013;&#010;year = 20182019" class="form-control" style= "height: 200px">{{filter_box}}</textarea>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary" name="current_url" value="{{request.get_full_path}}">Apply Filter</button>
        </div>
    </form>

    <div class="row">
        <form name='remove_filter' action="remove_filter{{request.get_full_path}}" method='POST' class="form-group">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary col-10 m-3" name="current_url" value="{{request.get_full_path}}">Reset Filter</button>
        </form>

        <form name='remove_sort' action="remove_sort{{request.get_full_path}}" method='POST' class="form-group">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary col-10 m-3" name="current_url" value="{{request.get_full_path}}">Reset Sort</button>
        </form>

        <div class="form-group">
            <a href="/stats/" class="btn btn-primary col-8 m-3">Reset</a>
        </div>
    </div>

    {% render_table table %}

    <form name="submit" action="metric_submit{{request.get_full_path}}" method="POST">
        {% csrf_token %}

        <div class="form-group">
            <h5 class="">Define metric here</h5>
            <textarea type='text' name="metric_string" placeholder="" class="form-control" style= "height: 200px">{{metric_box}}</textarea>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary" name="current_url" value="{{request.get_full_path}}">Create Metric</button>
        </div>
    </form>

    <div>
        <p style="color: red">{{metric_message}}</p>
    </div>

</div>

{% endblock %}